* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(/img/Background-nav.svg);
    background-size: 100%;
    display: flex;
    width: 100%;
    height: 180px;
    display: block;
    object-fit: cover;
    padding: 40px;
}

.Logo {
    display: flex;
    width: 183px;
    height: 76px;
    flex-shrink: 0;
    /* border: 2px solid red; */
}

.container {
    display: flex;
    /* border: 2px solid greenyellow; */
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.outlogo {
    /* border: 5px solid purple; */
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
}

.buscar {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    width: 480px;
    height: 40px;
    color: gray;
    text-align: left;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buscar p {
    display: inline-block;
}

.buscar input {
    width: 90%;
    border: none;
    outline: none;
}

.buscar input::placeholder {
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.search-logo {
    width: 20px;
    height: 20px;
}

.services {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border: 4px solid red; */
    padding: 10px;
}

.services p {
    padding-top: 15px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.services button {
    background: none;
    border: none;
}

.services a {

    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
}

.services a:hover {
    text-decoration: underline;
}

.services #Entrada {
    color: rgba(255, 255, 0, 0.868);
}

.services #linkpreenchido {
    display: flex;
    gap: 5px;
}

#welcome {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#Card {
    width: 35px;
    height: 35px;
}

#Card:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}


nav {
    /* border: 2px solid red; */
}

nav ul a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 40px;

}

nav ul li a {
    color: #FFF;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 0, 0.868);
    transition: 0.4s;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.border-banner {
    /* border: 2px solid black; */
    background-image: url(/img/Background-nav.svg);
    width: 100%;
    height: 91px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.baixar-app {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.baixar-app p {
    padding-top: 15px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.baixar-app img {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    text-decoration: none;
}

.options:hover {
    background-color: purple;
    border-radius: 5px;
    transition: 0.4s;
}